$icon-font-path: '../fonts/';

$body-bg: #000;

$font-size-base: 17px;
$text-color: #fff;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

$second-color: #FFD200;
$third-color: #e62217;

$hover-line-height: 7px;

$footer-height: 100px;


$main-text-font-size: 19px;

$main-menu-font-size: 28px;
$footer-menu-font-size: 24px;

$big-text-font-size: 46px;
$big-text-font-weight: 700;


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
  a {
    color: $text-color;
    &:hover, &:focus {
      color: $text-color;
      text-decoration: none;
    }
  }
}

.content {

}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
}

// Text

.big-text {
  font-size: $big-text-font-size;
  font-weight: $big-text-font-weight;
}

// #custom-general-info

.video-link {
  &:hover, &:focus {
    color: $third-color;
  }
}

// Menu

.menu {
  @extend .list-unstyled;
  li {
    display: inline-block;
    & + li {
      margin-left: 1.5em;
    }
    a {
      display: block;
      margin-bottom: $hover-line-height;
      padding-top: .2em;
      padding-bottom: .2em;
      &:hover, &.active {
        border-bottom: $hover-line-height $second-color solid;
        margin-bottom: 0;
      }
    }
  }
}

.main-menu {
  @extend .menu;
  font-size: $main-menu-font-size;
  font-weight: 500;
}
