$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';




$warning-color: #FFD200;
$danger-color: #e62217;
$muted-color: #7f7f7f;



$body-bg: #000;

$custom-brand-gray: #2f2f2f;

$font-weight-base: 500;
$font-size-base: 17px;
$text-color: #fff;

$state-warning-text: $warning-color;
$state-danger-text: $danger-color;


@import "~bootstrap-sass/assets/stylesheets/bootstrap";


$brand-line-height: 7px;

$footer-height: 200px;


$main-text-font-size: 19px;

$main-menu-font-size: 28px;
$footer-menu-font-size: 24px;

$big-text-font-size: 46px;
$big-text-font-weight: 700;


html {
  position: relative;
  min-height: 100%;
  font-weight: $font-weight-base;
}

body {
  margin-bottom: $footer-height + 80px;
  a {
    color: $text-color;
    &:hover, &:focus {
      color: $text-color;
      text-decoration: none;
    }
  }
}

.content {

}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  .copyright {
    @extend .brand-line;
    padding: .8em 0;
  }
  .footer-menu {
    padding-top: 20px;
    .menu-name {
      height: 1.2em;
    }
  }
  a {
    cursor: pointer;
  }
}

.brand-line {
  border-bottom: $brand-line-height $warning-color solid;
}



.big-text {
  font-size: $big-text-font-size;
  font-weight: $big-text-font-weight;
}

.custom-general-info {
  padding-top: 60px;
  margin-bottom: 20px;
  position: relative;
  .custom-logo {
    position: absolute;
    background: url("./images/custom_logo.svg") no-repeat center;
    width: 100%;
    top: 0;
    bottom: 0;
  }
}

.video-link {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  z-index: 10;
  &:hover, &:focus {
    color: $danger-color;
  }
}



.menu {
  @extend .list-unstyled;
  li {
    display: inline-block;
    & + li {
      margin-left: 1.5em;
    }
    a {
      cursor: pointer;
      display: inline-block;
      margin-bottom: $brand-line-height;
      padding-bottom: .2em;
      &:hover, &.active {
        @extend .brand-line;
        margin-bottom: 0;
      }
    }
  }
}

.separator-menu {
  @extend .menu;
  font-size: $footer-menu-font-size;
  li {
    & + li {
      margin-left: 0;
      &:before {
        content: "/";
        display: inline-block;
        margin-right: .2em;
        color: $muted-color;
      }
    }
  }

}

.main-menu {
  @extend .menu;
  font-size: $main-menu-font-size;
  margin-bottom: 40px;
}

.stickers-list {

}

$sticker-block-width: 285px;
$sticker-block-height: 348px;

.sticker-block {
  width: $sticker-block-width;
  color: $muted-color;
  height: $sticker-block-height;
  position: relative;
  font-size: $font-size-base;

  @for $i from 1 through 4 {
    &.h-size-#{$i} {
      width: $sticker-block-width * $i;
    }
    &.v-size-#{$i} {
      height: $sticker-block-height * $i;
    }
  }

  $hover-size: 22px;
  $sticker-image-margin: 20px;
  $sticker-image-bottom: 80px;
  $sticker-image-zoom-delta: 5px;

  .hover-block {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .sticker-image {
    background: no-repeat center;
    background-size: contain;
    position: absolute;
    top: $sticker-image-margin;
    bottom: $sticker-image-bottom;
    left: $sticker-image-margin;
    right: $sticker-image-margin;
    z-index: 10;
  }

  .sticker-text {
    padding-left: 20px;
    line-height: 1;
    position: absolute;
    bottom: 30px;
    font-size: 0.9em;
  }

  .buy-block {
    display: none;
    width: 100%;
    height: 40px;
    margin-top: 40px;
    background: $warning-color;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    .buy-link {
      width: 50%;
      display: table-cell;
      vertical-align: middle;
      color: #000;
      cursor: pointer;
      &:first-child {
        border-right: 1px solid $custom-brand-gray;
      }
    }
  }

  &:hover {
    .hover-block {
      background-color: $custom-brand-gray;
      top: -1 * $hover-size;
      bottom: -2 * $hover-size;
      right: -1 * $hover-size;
      left: -1 * $hover-size;
      z-index: 100;
      .buy-block {
        display: table;
      }
      .sticker-image {
        top: $sticker-image-margin + $hover-size - $sticker-image-zoom-delta;
        right: $sticker-image-margin + $hover-size - $sticker-image-zoom-delta;
        left: $sticker-image-margin + $hover-size - $sticker-image-zoom-delta;
        bottom: $sticker-image-bottom + (2 * $hover-size) - $sticker-image-zoom-delta;
      }
    }
    .sticker-text {
      z-index: 101;
      color: #fff;
    }
  }

}
.custom-top-menu {
  height: 220px;
  display: flex;
  align-items: center;
}

.custom-brand {
  background: url(./images/1927.png) no-repeat;
  height: 125px;
  width: 130px;
  margin: 0 60px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 35px;
  &:hover {
    background: url(./images/2303.png) no-repeat;
  }
}
.soc-icon {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin-right: 20px;
  &.icon-vk {
    background: url(./images/2865.png) no-repeat;
    &:hover {
      background: url(./images/2897.png) no-repeat;
    }
  }
  &.icon-fb {
    background: url(./images/2866.png) no-repeat;
    &:hover {
      background: url(./images/2898.png) no-repeat;
    }
  }
  &.icon-inst {
    background: url(./images/2867.jpg) no-repeat;
    &:hover {
      background: url(./images/2899.jpg) no-repeat;
    }
  }
  &:last-child {
    margin-right: 60px;
  }
}
.right-item {
  margin-left: auto;
  margin-bottom: 15px;
}
.custom-logo {
  position: absolute;
}
.modal-content {
  background: transparent;
  box-shadow: none;
  border: none;
  .modal-header {
    border-bottom: none;
    margin-bottom: 30px;
    .close {
      opacity: 1;
      background: url(./images/3599.png) no-repeat;
      height: 48px;
      width: 48px;
      position: relative;
      right: -35px;
      &:hover {
        background: url(./images/3754.png) no-repeat;
      }
    }
  }
}
.two-columns {
  column-count: 2;
}
.about-text {
  font-weight: 300;
  font-size: $main-text-font-size;
  line-height: 1.6;
}

.custom-instagram {
  margin-top: 50px;
  font-size:0;
  .inst-photo-block {
    width: 228px;
    height: 228px;
    display: inline-block;
    vertical-align: top;
    .inst-photo {
      width: 223px;
      height: 223px;
      background-position: center;
      background-size: cover;
      &.more {
        background-color: #fff;
        color: #000;
        font-size: 18px;
        display: table-cell;
        vertical-align: middle;
        cursor: pointer;
        &:hover {
          background-color: $warning-color;
        }
      }
    }
  }
  .inst-logo {
    width: 54px;
    height: 80px;
    background: url(images/insta_logo.svg) no-repeat;
    margin: auto auto 40px;
  }
}

.buy-modal {
  .modal-content {
    height: 100%;
  }
  .modal-dialog {
    width: 1200px;
    height: 900px;
    margin-top: 0;
    .modal-header {
      position: absolute;
      right: 45px;
      top: 10px;
      z-index: 999;
    }
    .modal-body {
      padding: 0;
      height: 100%;
    }
    .offline-right  {
      .glyphicon {
        font-size: 28px;
      }
    }
    .buy-block {
      display: inline-block;
      width: 50%;
      height: 100%;
      color: #fff;
      line-height: 1.2;
      position: absolute;
      .buy-descr {
        padding: 20px 95px;
        font-size: 25px;
        border-left: 1px solid #222;
        &:hover {
          background: #222;
          border-left: 1px solid #2f2f2f;
        }
      }
      &.online-left, &.sticker-left, &.offline-left {
        background: #222;
      }
      &.online-left {
        padding: 50px;
        .online-img {
          height: 160px;
          width: 100%;
          &.oz-img {
            background: url(images/3971@2x.png) no-repeat center left/contain;
          }
          &.ali-img {
            background: url(images/3972@2x.png) no-repeat center right/contain;
            height: 100px;
            margin: 30px 0;
          }
          &.twenty-one-img {
            background: url(images/3973@2x.png) no-repeat center left/contain;
          }
          &.mishka-img {
            background: url(images/3974@2x.jpg) no-repeat center right/contain;
            height: 90px;
            margin: 30px 0;
          }
          &.converse-img {
            background: url(images/3975.png) no-repeat center left/contain;
            height: 120px;
            margin-top: 50px;
          }
        }
      }
      &.online-right, &.offline-right, &.sticker-right {
        background: #2f2f2f;
        right: 0;
      }
      .sticker-descr {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 33px;
        padding: 100px;
      }
      .sticker-big-image {
        position: relative;
        margin: auto;
        max-width: 400px;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .switch-links {
      position: absolute;
      width: 100%;
      bottom: 0;
      .switch-link {
        display: inline-block;
        width: 50%;
        text-align: center;
        padding: 12px;
        color: $warning-color;
        z-index: 999;
        &:first-child {
          border-right: 1px solid #2f2f2f;
        }
        &.not-active {
          cursor: pointer;
          background: $warning-color;
          color: #000;
          &:hover {
            background: #fff;
            color: #000;
          }
        }
      }
    }
  }
}
.shop-list {
  margin-left: 80px;
  .btn-default {
    background: transparent;
    border: none;
    box-shadow: none;
    color: $warning-color;
    font-size: 44px;
    font-weight: 500;
  }
  .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    background: transparent;
    color: $warning-color;
    border: none;
    box-shadow: none;
  }
  ul {
    background-color: #2f2f2f;
    border: none;
    li {
      a {
        color: $warning-color;
        font-size: 44px;
        &:hover, &:focus, &:active {
          color: $warning-color;
          background-color: #222;
        }
      }
    }
  }
}
.shop-addresses {
  max-height: 650px;
  overflow: scroll;
}
.padding-v-100 {
  padding-top: 100px;
}
